body {
    position: relative;
    padding-top: 60px;
}

.placeholder {
    color: #999;
}

/*.control-label {
    max-width: 100%;
    font-weight: bold;
}*/

.breakWord {
    overflow-wrap: break-word;
}

.brand.dropdown-toggle .caret{
    margin-top: 8px;
}

.sidebar-nav-fixed {
    position:fixed;
    top:70px;
    width:14%;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        position:static;
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        top:70px;
    }
}

.form-search .input-append input+select {
    border-left: 0 none;
}